<section class="section p-25">
    <nav class="navbar navbar-expand-lg navbar-light custom_header">
        <a class="navbar-brand" routerLink="/" *ngIf="!user"><img src="assets/img/logo.png"></a>
        <a class="navbar-brand" routerLink="/home" *ngIf="user"><img src="assets/img/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto topnav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Post a Project <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How It Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Our Products</a>
                </li>
                <li class="nav-item">
                    <button class="login_signup" routerLink="/home" *ngIf="!user">Login</button>
                </li>
                <li class="nav-item">
                    <button class="login_signup red-linear-gradient text-white ml-3" routerLink="account/register" *ngIf="!user">Sign Up</button>
                </li>
                <li class="nav-item">
                    <button class="login_signup" routerLink="/profile" *ngIf="user">{{ user.first_name }}</button>
                </li>
                <li class="nav-item">
                    <button class="login_signup red-linear-gradient text-white ml-3" (click)="logout()" *ngIf="user">Logout</button>
                </li>
                <li class="nav-item dropdown language" *ngIf="!user">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/img/lnguage_icon.jpg">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><img src="assets/img/lnguage_icon.jpg"></a>
                        <a class="dropdown-item" href="#"><img src="assets/img/lnguage_icon.jpg"></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-white': user }">

    <div class="masthead">
        <alert></alert>
        <router-outlet></router-outlet>
    </div>
</div>
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>
<footer class="custome-footer d-none">
    <div class="container">
        <div class="space-top-1 space-bottom-1 space-bottom-lg-2">
            <div class="row justify-content-lg-between">
                <div class="col-6 col-md-4 col-lg mb-5 mb-lg-0">
                    <h5 class="text-dark">Categories</h5>
                    <!-- Nav Link -->
                    <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Graphics & Design</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Digital Marketing</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Video & Animation</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Music & Audio</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Programming & Tech</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Business</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Sitemap</a></li>
                    </ul>
                    <!-- End Nav Link -->
                </div>
                <div class="col-6 col-md-4 col-lg mb-5 mb-lg-0">
                    <h5 class="text-dark">Features</h5>
                    <!-- Nav Link -->
                    <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Press</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Release notes</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Integrations</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Pricing</a></li>
                    </ul>
                    <!-- End Nav Link -->
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <h5 class="text-dark">Documentation</h5>
                    <!-- Nav Link -->
                    <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Support</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Docs</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Status</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">API Reference</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Tech Requirements</a></li>
                    </ul>
                    <!-- End Nav Link -->
                </div>
                <div class="col-6 col-md-4 col-lg">
                    <h5 class="text-dark">Company</h5>
                    <!-- Nav Link -->
                    <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">About</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Careers</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Blog</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Customers</a></li>
                        <li class="nav-item"><a class="nav-link text-dark pl-0" href="#">Hire us</a></li>
                    </ul>
                    <!-- End Nav Link -->
                </div>
            </div>
        </div>
        <!-- <hr class="opacity-xs my-0"> -->
    </div>
    <div class="bg-dark">
        <div class="container">    
            <div class="row align-items-md-center mb-7 px-4 py-3">
                <div class="col-md-2 mb-4 mb-md-0">
                   <div class="mb-2">
                        <a href="#" aria-label="Front">
                            <img class="brand img-fluid" src="assets/img/logo-footer.png" alt="Logo">
                        </a>
                        
                    </div>
                </div>
                <div class="col-md-2 mb-4 mb-md-0">
                    <span class="country"><img src="assets/img/lnguage_icon.jpg"></span>
                    <!-- <span class="country text-white">India</span> -->
                    <!-- <span class="rupees-currency text-white ml-3">₹INR</span> -->
                </div>
                <div class="col-md-4 mb-4 mb-md-0">
                    <div class="w-md-75 text-lg-center mx-lg-auto">
                        <p class="text-dark opacity-sm small">© Eiliana International Ltd. 2020</p>
                    </div>
                </div>
                <div class="col-md-4 text-md-right">
                    <ul class="list-inline mb-0">
                        <!-- Social Networks -->
                        <li class="list-inline-item">
                            <a class="btn btn-xs btn-icon btn-ghost-dark" href="#">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-xs btn-icon btn-ghost-dark" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-xs btn-icon btn-ghost-dark" href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn btn-xs btn-icon btn-ghost-dark" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <!-- End Social Networks -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<footer class="custome-footer">
    <div class="container space-2">
        <div class="row mb-9">
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h5 class="text-white font-weight-500">Categories</h5>
                <!-- Nav Link -->
                <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Graphics & Design</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Digital Marketing</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Video & Animation</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Music & Audio</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Programming & Tech</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Business</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Sitemap</a></li>
                </ul>
                <!-- End Nav Link -->
            </div>
            <div class="col-6 col-md-3 col-lg-2 mb-5 mb-lg-0">
                <h5 class="text-white font-weight-500">Features</h5>
                <!-- Nav Link -->
                <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Press</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Release notes</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Integrations</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Pricing</a></li>
                </ul>
                <!-- End Nav Link -->
            </div>
            <div class="col-6 col-md-3 col-lg-2 mb-5 mb-lg-0">
                <h5 class="text-white font-weight-500">Company</h5>
                <!-- Nav Link -->
                <ul class="nav nav-sm nav-x-0 nav-white flex-column">
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Careers</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Blog</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Customers</a></li>
                    <li class="nav-item"><a class="nav-link text-white pl-0" href="#">Hire us</a></li>
                </ul>
                <!-- End Nav Link -->
            </div>
            <div class="col-md-6 col-lg-5">
                <!-- Form -->
                <div class="js-validate mb-2">
                    <h5 class="text-white font-weight-500 mb-3">Stay up to date</h5>
                    <div class="form-row">
                        <div class="col">
                            <div class="js-form-message">
                                <label class="sr-only" for="subscribeSrEmail">Email address</label>
                                <div class="input-group">
                                    <input type="email" class="form-control" name="email" id="subscribeSrEmail" placeholder="Email address" aria-label="Email address" required data-msg="Please enter a valid email address.">
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- End Form -->
                <ul class="list-inline mb-0">
                    <!-- Social Networks -->
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-ghost-light facebook" href="#">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-ghost-light twitter" href="#">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-ghost-light linkedin" href="#">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-xs btn-icon btn-ghost-light instagram" href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <!-- End Social Networks -->
                </ul>
            </div>
        </div>
    </div>
</footer>
