<div class="bg-light profile-setting">
	<div class="bg-navy">
	  <div class="container p-4">
	    <div class="align-items-center">
	        <span class="border-title"></span>
	        <span class="h3 text-white ml-2">Dashboard</span>
	    </div>
	  </div>
	</div>
	<div class="container space-1 space-top-lg-0 mt-lg-n10">
	    <div class="row">
	        <div class="col-lg-3">
	        	<app-colume-left></app-colume-left>
	        </div>
	        <div class="col-lg-9">
	            <div class="card mb-3 mb-lg-5">
				    <div class="card-header">
				        <h5 class="card-title">Recent Projects</h5>
				    </div>
				    <!-- Body -->
				    <div class="card-body">
				        <div class="card-body card-body-centered" style="min-height: 15rem;">
						    <p>Start bidding now on projects that meet your skills.</p>
						    <a class="btn btn-primary bg-orange" href="javascript:;">Browse Projects</a>
						 </div>
				    </div>
				    <!-- End Body -->
				</div>
	        </div>
	    </div>
	    <!-- End Row -->
	</div>
</div>
<!-- <div class="p-4">
    <div class="container">
        <h1>Hi {{ user.full_name }}!</h1>
        <p>You're logged in with Eiliena!!</p>
        <p><a routerLink="/profile">Profile Page</a></p>
        <p><a routerLink="/portfolio">Portfolio</a></p>
    </div>
</div> -->