<div class="bg-red">
  <div class="px-4 py-3">
    <div class="align-items-center">
        <span class="border-title"><i class="fa fa-bars"></i></span>
        <span class="h4 text-white ml-2">Login</span>
    </div>
  </div>
</div>
<div class="col-md-9 offset-md-1 mt-6 shadow p-0 login-body">
    <div class="singup-body">
        <div class="container">
            <div class="row">
                <div class="col p-0">
                    <div class="card">
                        <h4 class="card-header">Login</h4>
                        <div class="card-body">
                            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                    <label for="username">Email ID/UserName</label>
                                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email ID/Username is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group form-check col-4">
                                        <input type="checkbox" id="remenber" class="form-check-input" />
                                        <label for="remenber" class="form-check-label">Remember</label>
                                    </div>
                                    <div class="form-group col-8">
                                       <p class="text-right"><a routerLink="#" class="bt">Forgot Username/Password</a></p>
                                    </div>
                                </div>
                                <div class="form-group row justify-content-center mt-3 mb-5">
                                    <button [disabled]="loading" class="btn btn-primary">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        Login
                                    </button>
                                    <!-- <br /> -->
                                    <!-- <p>Not a member yet? <a routerLink="../register" class="bt">Singup Now</a></p> -->
                                </div>
                            </form>
                            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                                <div class="col-xs-12 col-sm-12 mb-3">
                                    <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                                        <i class="fa fa-facebook"></i>
                                        <span>with Facebook</span>
                                    </a>
                                </div>
                                <div class="col-xs-12 col-sm-12 mb-3">
                                    <a href="#" class="btn btn-lg btn-block omb_btn-google">
                                        <i class="fa fa-google-plus"></i>
                                        <span>with Google</span>
                                    </a>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col p-0 d-flex align-items-center justify-content-center bg-navy bg-img-hero" style="background-image: url(assets/img/others/login.png);">
                    <div class="account-second-side text-center">
                        <img src="assets/img/singin.png" class="img-fluid" alt="">
                        <p class="text-white">Not a member yet?</p>
                        <a routerLink="../register" class="btn btn-light bt btn-lg">SingUp Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>